<section>
    <nz-card class="card" nzTitle="Todo List" [nzActions]="[actionAdd]">
            @if (tasks.length === 0) {
                <h2>No tasks</h2>
            } @else {
                <nz-list [nzDataSource]="tasks" nzBordered nzSize="large">
                @for (task of tasks; track task.desc) {
                    <nz-list-item>
                        <ul nz-list-item-actions>
                            <nz-list-item-action>
                                <button nz-button nzDanger nzType="default" nzShape="circle" (click)="borrar(task.id)"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
                            </nz-list-item-action>
                        </ul>
                        @if (task.completed) {
                            <label class="completed" (click)="completeTask(task.id)">{{ task.desc }}</label>
                        } @else {
                            <label class="no-completed" (click)="completeTask(task.id)">{{ task.desc }}</label>
                        }
                    </nz-list-item>
                }
                </nz-list>
            }
        </nz-card>
    <ng-template #actionAdd>
        <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" class="form" (ngSubmit)="submitForm()">  
            <nz-form-item>
              <nz-form-control>
                <input nz-input formControlName="newTask" name="newTask" type="text" id="newTask" placeholder="New Task" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                  <button nz-button nzType="primary">Add</button>
                </nz-form-control>
              </nz-form-item>
          </form>
    </ng-template>
</section>